<!-- Navigation Start -->
<nav class="navbar navbar-expand-lg navbar-dark px-lg-5">
    <a href="/" class="navbar-brand ms-4 ms-lg-0">
    <img src="/favicon.ico" alt="Logo" style="height: 40px;">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a href="/#aktuality" class="nav-item nav-link">Aktuality</a>
            <a href="/hudba/" class="nav-item nav-link">Hudba</a>
            <a href="/koncerty/" class="nav-item nav-link">Koncerty</a>
            <a href="/o_nas/" class="nav-item nav-link">O nás</a>
            <a href="/fotogalerie/" class="nav-item nav-link">Fotogalerie</a>
            <a href="/kontakt/" class="nav-item nav-link">Kontakt</a>
            <a href="/jak_nas_podporit/" class="nav-item nav-link">Jak nás podpořit?</a>

        </div>
    
    </div>
</nav>
<!-- Navigation End -->